@import url('https://fonts.googleapis.com/css?family=Arvo|Lato');

$dark-text: rgba(55,63,71, 100);
$light-text: rgba(180,223,223,100);
$pfont: 'Lato', sans-serif;
$hfont: 'Arvo', serif;

body {
  color: $dark-text;
  font-family: $pfont;
  font-size: 18px;
}
